---
layout: single
author_profile: true
title: ""
---

{% include app_card.html
   link="/shopping_calculator"
   image="/assets/images/shopping_calculator.png"
   title="Shopping Calculator"
   description="Helps you keep an eye on your spendings and your budget while shopping (for example grocery shopping)."
%}

{% include app_card.html
   link="/custom_dice"
   image="/assets/images/custom_dice.png"
   title="Custom Dice"
   description="Create your own dice by painting them and use them."
%}


{% include app_card.html
   link="/photo_match"
   image="/assets/images/photo_match.png"
   title="Photo Match Game"
   description="Play with your own photos the beloved matching game and train your memory."
%}

{% include app_card.html
   link="/base_converter"
   image="/assets/images/base_converter.png"
   title="Base Converter"
   description="Convert numbers from one base into another."
%}	

{% include app_card.html
   link="/modulo_calculator"
   image="/assets/images/modulo_calculator.png"
   title="Modulo Calculator"
   description="Calculate the modulo of two numbers."
%}	
